<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>728151110287-hjdo5s0r0eqks6oco3fh064c033dn7l9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728151110287-hjdo5s0r0eqks6oco3fh064c033dn7l9</string>
	<key>API_KEY</key>
	<string>AIzaSyDwOoFBOSn-XAYPiaI4DEgdjjoaR7VCTAU</string>
	<key>GCM_SENDER_ID</key>
	<string>728151110287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ArwaHamed.signIn</string>
	<key>PROJECT_ID</key>
	<string>customemailsignin</string>
	<key>STORAGE_BUCKET</key>
	<string>customemailsignin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728151110287:ios:1926265e2c503d44</string>
	<key>DATABASE_URL</key>
	<string>https://customemailsignin.firebaseio.com</string>
</dict>
</plist>